[Desktop Entry]
Type=Application
Icon=/opt/BSU/bsu-install/bsu.png
Name=BSU Desktop
Exec=/opt/BSU/bsu-install/bsu --run
Terminal=true
Hidden=false
Keywords=Brawl Stars;BSU
Categories=Utility
Comment=Brawl Stars Utilities-designed to integrate with Brawl Stars

